.d-flex {
    background-color: #8DCE76;
    border-color: #8DCE76;
    color: rgb(7, 7, 7);
}

.navbar-brand {
    color: white !important;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-navbar{
    background: #296E03;
    color: white;
}

h1{
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    color: #296E03 !important;
}

h3{
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    color: #000000 !important;
}

p{
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: left;
    color: #000000 !important;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del menú lateral */
.sidebar {
    width: 60px;
    height: calc(100vh - 60px); /* Ajusta la altura restando la barra superior porque si no se ve el menú chidp*/
    background-color: #f4f4f4;
    position: fixed;
    left: 0;
    top: 60px; 
    transition: width 0.3s ease;
    overflow: hidden;
}


.custom-navbar {
    margin: 0;
    padding: 10px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}
.sidebar.expanded {
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li i {
    font-size: 24px;
    margin-right: 10px;
}

.sidebar ul li span {
    display: none;
}

.sidebar.expanded ul li span {
    display: inline;
}

.sidebar ul li:hover {
    background-color: #ddd;
}