/* Main Section */
.main {
    display: flex; /* Usamos Flexbox para dividir el espacio en dos columnas */
    justify-content: space-between; /* Distribuye los divs a los lados */
    align-items: flex-start;  /* Alinea los elementos al principio (parte superior) */
    padding: 10px;
    margin-top: -20px; /* Espacio para el header fijo */
    flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas más pequeñas */
    height: auto; /* Elimina la altura fija para que el contenedor se ajuste al contenido */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilo para camion_1 y camion_2 */
.camion_1, .camion_2 {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
}

/* Rutas: Distribuir en dos columnas */
.routes {
    display: flex;
    justify-content: space-between; /* Espacio entre las dos columnas */
    flex-wrap: wrap;  /* En pantallas pequeñas, ajusta las columnas a una fila */
    height: auto; /* Ajusta el contenido para que no sobrepase la pantalla */
    margin-bottom: 20px;
}

/* Columna de rutas */
.column {
    width: 48%;  /* Cada columna ocupa el 48% del ancho */
    padding: 1px;
    margin-bottom: 10px;
}

/* Lista de rutas */
.column ul {
    list-style: none;
    padding-left: 20px;
}

.column ul li {
    font-size: 12px; /* Fuente pequeña para más espacio */
    margin-bottom: 6px;
}

/* Botón Cómo Llegar */
.ver-graficos {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 5px;
    height: 35px;
    background-color: #296E03;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.ver-graficos:hover {
    background-color: #218838;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    /* En pantallas pequeñas, los divs se alinearán en columna */
    .main {
        flex-direction: column;
        align-items: center;
        height: auto; /* Permite que el contenedor principal crezca según el contenido */
        padding: 10px;
        overflow-y: auto; /* Permite el desplazamiento vertical en pantallas pequeñas */
    }

    .camion_1, .camion_2 {
        width: 100%; /* Hace que los divs ocupen el 100% del ancho */
        margin-right: 0;
        margin-bottom: 20px;
    }

    .column {
        width: 100%;  /* Cada columna ocupa el 100% del ancho */
    }

    .column ul li {
        font-size: 10px; /* Ajusta la fuente en pantallas pequeñas */
        margin-bottom: 4px;
    }

    .btn-como-llegar {
        width: 100%; /* Hace que el botón ocupe todo el ancho */
        font-size: 16px;
    }
}
