.content {
    overflow-y: auto !important;
    position: relative; /* Evita que el contenido se mueva cuando se activa la sidebar */
    z-index: 1; /* Mantiene el contenido por debajo de la sidebar */
}

/* Main Section */
.main {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin-top: -20px;
    flex-wrap: wrap;
    width: 100%;
    position: relative; /* Mantener la posición relativa para que el contenido no se desplace */
    z-index: 1; /* Mantener el contenido bajo la sidebar */
    margin-left: 0 !important; /* Asegura que no haya márgenes adicionales */
    padding-left: 0; /* No hay margen de izquierda */
}

/* Estilo para camion_1 y camion_2 */
.camion_1, .camion_2 {
    flex: 1 1 48%; /* Esto asegura que las tarjetas ocupen el 48% del ancho */
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    height: auto; /* Asegura que las tarjetas no cambien de tamaño */
}

.camion_1 h2, .camion_2 h2 {
    color: #296E03;
}

/* Dropdown: Establecer un tamaño fijo */
.accordion-button {
    height: 40px; /* Establecer una altura fija para los botones */
    font-size: 14px;
}

.accordion-body {
    max-height: 300px;
    overflow-y: auto;
}
/* Rutas: Distribuir en dos columnas */
.routes {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;  
    height: auto; 
    margin-bottom: 20px;
}

/* Columna de rutas */
.column {
    width: 48%;  
    padding: 1px;
    margin-bottom: 10px;
}

/* Lista de rutas */
.column ul {
    list-style: none;
    padding-left: 20px;
}

.column ul li {
    font-size: 12px; 
    margin-bottom: 6px;
}

/* Botón Cómo Llegar */
.ver-graficos {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 5px;
    height: 35px;
    background-color: #296E03;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.ver-graficos:hover {
    background-color: #218838;
}

.col-md-6 {
    width: 100%; 
}

h5 {
    font-size: 2rem;
    color: #218838 !important;
}

/* Estilo para el contenedor de la imagen con zoom */
.zoom-container {
  position: relative;
  overflow: hidden;
  touch-action: none; /* Desactiva la acción por defecto del navegador */
  width: 100%; /* Hace que ocupe todo el ancho disponible */
  height: 100%; /* Hace que ocupe todo el alto disponible */
  display: flex;
  justify-content: center; /* Centra la imagen inicialmente */
  align-items: center; /* Centra la imagen */
}

/* Imagen dentro del modal */
.zoom-container img {
  transition: transform 0.25s ease;
  width: 100%; /* Ajusta la imagen al ancho disponible */
  height: auto;
  cursor: grab; /* Cambia el cursor para indicar que la imagen es desplazable */
  position: absolute; /* Hace que la imagen sea desplazable */
  transform-origin: center center; /* Asegura que el zoom se aplica desde el centro */
}

/* Cuando se hace zoom, la imagen crece */
.zoom-container img.zoomed {
  transform: scale(1.5); /* Ajusta el nivel de zoom */
    cursor: grabbing; /* Cambia el cursor para indicar que la imagen está en movimiento */
    overflow-x: auto;
}

/* Permite desplazamiento horizontal solo cuando la imagen tiene zoom */
.zoom-container {
  overflow-x: auto; /* Añade desplazamiento horizontal */
  overflow-y: hidden; /* Evita el desplazamiento vertical */
}


/* Estilos responsivos */
@media (max-width: 768px) {

    /* Asegura que todo el contenido esté centrado vertical y horizontalmente */
    .content {
        min-height: 100vh; /* Ocupa toda la altura de la pantalla */
        padding: 20px;
        margin-bottom: 0px;
        margin-left: 0 !important; /* Asegura que el contenido no se desplace */
    }

    .main {
        margin-left: 0 !important;
    }


    .camion_1, .camion_2 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .column {
        width: 100%;  
    }

    .column ul li {
        font-size: 10px; 
        margin-bottom: 4px;
    }

    .btn-como-llegar {
        width: 100%; 
        font-size: 16px;
    }

    /* Alinea las tarjetas al centro */
    .col-12.col-md-6 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .card {
        width: 90%; /* Ajusta el tamaño de la tarjeta */
        max-width: 400px; /* Limita el ancho de las tarjetas */
    }

    /* Reduce el tamaño del título en pantallas pequeñas */
    h5.card-title {
        font-size: 1rem;
    }

    /* Reduce el tamaño de los botones del acordeón */
    .accordion-button {
        font-size: 0.97rem !important;
        white-space: nowrap; /* Evita el salto de línea */
        overflow: hidden;
        text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
    }

    /* Reducir el tamaño del texto de las listas */
    .accordion-body,
    .list-group {
        font-size: 0.90rem !important;
    }

    /* Ajusta el tamaño de los botones */
    .btn-ver-graficos {
        width: 100%;
        font-size: 16px;
    }
    .modal-dialog {
        max-width: 100%;  /* Ajusta el ancho */
        margin: 0;        /* Elimina los márgenes */
        height: 100%;     /* Ocupa toda la altura */
        overflow-x: auto; /* Añade desplazamiento horizontal */
    }

    .modal-content {
        height: 100%;      /* Asegura que el contenido del modal ocupe toda la altura */
        border: none;     /* Elimina el borde del modal */
        overflow-x: auto; /* Añade desplazamiento horizontal */
    }

    .zoom-container {
        height: 100%;   /* La imagen de zoom ocupará toda la altura del modal */
        overflow: scroll; /* Permite el desplazamiento tanto horizontal como vertical */
        justify-content: center; /* Centra la imagen inicialmente */
        align-items: center; /* Centra la imagen */
        position: relative;

    }

    .zoom-container img {
        max-height: 100vh; /* Limita la altura de la imagen al 100% de la vista */
        width: auto;  /* Ajusta la imagen al ancho disponible */
        cursor: grab; /* Cambia el cursor para indicar que la imagen es desplazable */
        transition: transform 0.25s ease; /* Suaviza el efecto de zoom */
        overflow-x: auto; /* Añade desplazamiento horizontal */
    }

    .zoom-container img.zoomed {
        transform: scale(1.5); /* Zoom al hacer pellizco */
        overflow-x: auto; /* Añade desplazamiento horizontal */
        scroll-behavior: smooth; /* Suaviza el desplazamiento */
    }

    /* Añadir desplazamiento horizontal cuando haya zoom */
    .zoom-container {
        overflow-x: auto; /* Añade desplazamiento horizontal */
        overflow-y: hidden; /* Evita el desplazamiento vertical */
    }
}

/* Evitar mostrar el modal en pantallas grandes */
@media (min-width: 768px) {
    #imagenModal {
        display: none;  /* Oculta el modal en pantallas grandes */
    }
}