/* ===================
   Login page
   =================== */

/* Fondo con imagen */
.background {
    background: url('../../imagenes/Login.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagen de fondo */
.bg-image {
    background-image: url('../../assets/imagenes/camion.png'); /* Cambia aquí la URL de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita que se repita */
    height: 100vh; /* Asegura que cubra toda la altura de la ventana */
    width: 100%; 
}

/* Logo */
.logo {
    height: auto; /* Mantiene las proporciones automáticamente */
    margin-bottom: 1rem;
  }

.logo img {
    display: block;
    margin: 0 auto;
}

/* Ajustes para la imagen de fondo en móviles */
.bg-image {
    height: 100vh; /* Asegura que la imagen ocupe toda la pantalla */
}

/* Ajustes para el botón en móviles */
.btn-success {
    font-size: 1rem; /* Reduce el tamaño de la fuente en móviles */
}

/* Ajustes para los inputs en móviles */
.form {
    font-size: 1rem; /* Reduce el tamaño de la fuente en móviles */
}

/* Enlaces */
.forgot-password, .register-link {
    color: #28a745;
    text-decoration: none;
}
  
.forgot-password:hover, .register-link:hover {
    text-decoration: underline;
}

/* Título */
.title {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Ajustes para tablets */
    .form-container {
        max-width: 500px; /* Aumenta el ancho del formulario en tablets */
    }
  }