/* ===================
   Mapa page
   =================== */
body{
    overflow: hidden; /* Evitar scroll en el body */
}

.container{
    display: flex;
    height: 100vh; /* Ocupar toda la pantalla */
    margin-top: 75px;
    max-width: 1600px !important; /* Aumentado para pantallas grandes */
}

/* Simbología y adicional*/


.col1 {
    display: flex;
    width: auto;
    height: 100vh; /* Ajusta la altura al 100% de la pantalla */
    padding: 10px;
    margin-right: 5px;
    flex-direction: column;
  }
  
  .simbologia.card-body p,
  .adicional.card-body p {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: bold;
    text-align: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .simbologia ul,
  .adicional ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .simbologia ul li,
  .adicional ul li {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .simbologia ul li img,
  .adicional ul li img {
    width: 40px;
    height: 25px;
    margin-right: 10px;
  }
  
  .simbologia ul li span,
  .adicional ul li span {
    display: inline;
    font-size: 20px;
  }

.col2{ 
    flex-grow: 1;
    left: 315px; /* Empuja col2 para que no se encime con col1 */
    height: 91vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-center .btn {
    text-align: left;
    width: 13.5rem; /* Mismo ancho para ambos */
    background-color: #296e03;
    color: #ffffff;
  }
  
  .btn.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13.5rem;
  }

    /* Color cuando el dropdown está abierto */
.btn.dropdown-toggle.show {
  background-color: #8dce76;
  border-color: #8dce76;
  color: #fff;  /* Opcional: cambia el color del texto si es necesario */
}

  .btn.dropdown-toggle:hover{
    background-color: #8dce76;
    border-color: #8dce76;
  }
  
  .dropdown-menu {
    width: 13.5rem;
  }
  
  .dropdown-item + i.bi {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown-menu i.bi {
    font-size: 20px;
    cursor: pointer;
  }


/* ===================
   Mapa page
   =================== */

/* Fondo oscuro */
.modal-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Mostrar modal cuando está activo */
.modal-overlay.active {
    display: flex;
}

/* Contenido del modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Botón de cierre */
.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Deshabilitar scroll al abrir el modal */
body.modal-open {
    overflow: hidden;
}

.toggle-simbolos-btn {
  position: fixed;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  border: none;
  padding: 8px 12px;
  border-radius: 8px 8px 0 0;
  z-index: 10000;
  cursor: pointer;
  background-color: #6cbf3c;
  transition: bottom 0.3s ease;
  display: none;   /* Oculto por defecto */
}

@media (max-width: 768px) {
  .container {
    position: relative;
    flex-direction: column;
      
  }

  .col2 {
      height: 75vh;  /* El mapa ocupa el 75% */
  }

  .col1 {
    position: absolute;
    bottom: -65%;
    width: 100%;           /* Ocupa TODO el ancho de la ventana */
    left: 0;                /* Aseguramos que empiece desde la izquierda */
    height: 55vh;
    background: white;
    border: 2px solid #ccc;
    transition: bottom 0.3s ease;
    z-index: 9998;
    overflow-y: auto;
    padding: 40px 0;
  }

  .col1.active {
      bottom: 0;
  }

  .toggle-simbolos-btn {
    display: block;
}

  /* Posición dinámica del botón */
  .col1.active + .toggle-simbolos-btn {
      top: auto;
      bottom: 47vh;  /* Cuando el panel está arriba */
  }

  .col1:not(.active) + .toggle-simbolos-btn {
    top: auto;
      bottom: 0;  /* Solo un poco visible cuando está oculto */
  }

  /* Centrado de las cards */
  .col1 .card {
    width: 90%;             /* Ocupa el 90% del ancho del viewport */
    margin: 10px auto;      /* Centramos */
    box-sizing: border-box; /* Incluye padding/border en el tamaño */
  }

  .dropdown-center .btn {
      width: 13.5rem;
      font-size: 14px;
  }

  .dropdown-menu {
      width: 100%;
  }

  .simbologia ul li,
  .adicional ul li {
      align-items: center;
  }

  .simbologia ul li span,
  .adicional ul li span {
      font-size: 14px;
  }
}

/* Ajuste específico para modo horizontal */
@media (max-width: 926px) and (orientation: landscape) {
  .col2 {
      height: 81vh;  /* El mapa ocupa toda la pantalla */
  }

  #mi_mapa {
    width: auto;
    height: auto;
  }

  .col1 {
      height: 85vh;   /* El panel ocupa más en horizontal */
      overflow-y: auto;
  }

  .col1.active + .toggle-simbolos-btn {
      bottom: 40vh;
  }
}