/* ===================
   COLORES GLOBALES
   =================== */

   :root {
    --primary-color: #28a745;
    --secondary-color: #8DCE76;
    --text-color: #333;
    --background-color: #f4f4f4;
    --white-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--primary-color);
}
